/*  <!-- 多类选择器 --> */
/* .warning{
    color: red;
    font-size: 30px;
}
.title {
    font-style: italic
}
.warning.title{
    color: aqua
}
.first{
    background-color: #eee;
} */

/* 相邻选择器和兄弟选择器  */
/* p+span{
    color: red;
}

p~span{
     color: aqua;
} */

/* < !-- first-child --> */
/* p:first-child{
    color: aquamarine
} */

/* < !-- lang --> */
/* p:lang(en){
    color: red;
}

p:lang(zh-cmn-Hans) {
    color: blue;
} */

/*  < !-- E:not(s) --> */
/* .demo li:not(:last-child){
    color: red;
}
 */

/* < !-- last-child --> */
p:last-child{
    color: red;
}

/* < !-- only-child --> */
li:only-child{
    color: blue
}
